<mat-card>
  <mat-card-content>
    <div class="nav-main">
      
          
            <!-- Safely check if the form control exists -->
            <h1 >Electrical Engineering</h1>
        <p> Electrical engineering is a branch of engineering. It focuses on the study and use of electricity, electronics, and magnetism. It has many subfields. They include power generation, transmission, electronics, control systems, telecommunications, instrumentation, and signal processing. Typically, pursuing a degree in electrical engineering requires four years for a bachelor's degree.</p>
         <P>Students must pass a series of exams in their studies. These may include basic math and physics courses. They may also include core electrical engineering topics and electives in specific areas. To enter an electrical engineering program , you need a strong math and science background from high school. You also need to meet entry requirements set by the school. These may include entrance exams or standardised test scores.</P>   
        <strong>Electrical Engineering Course Details</strong>
        <p> Electrical engineering is a kind of engineering. It deals with the study and use of electricity, electronics, and electromagnetism. It covers many topics. They cover the design and development of electrical systems. They also cover the analysis and control of electromagnetic fields.</p>
        <p>Electrical engineering courses are offered at a variety of universities and colleges around the world. They can be taken as part of an undergraduate or graduate degree program.</p>
        <p>Electrical engineering programs typically cover these core areas:</p>
        <ul class="list-disc pl-5 mt-4 space-y-2">
              <li><strong>Circuits:</strong>&nbsp;<span>Mastering electrical fundamentals (Ohm's Law, Kirchhoff's Laws) and analysing power in circuits.</span></li>
              <li><strong>Electronics:</strong>&nbsp;<span>Understanding electronic devices (transistors, diodes) that power modern technology.</span></li>
              <li><strong>Electromagnetics: </strong>&nbsp;<span>Exploring the link between electricity and magnetism, used in transformers and motors.</span></li>
              <li><span>Signals & Systems is about learning to analyze and process signals. These signals are used for communication, control systems, and more.</span></li>
              <li><strong>Power Systems:</strong>&nbsp;<span>Understanding how electricity is generated, transmitted, and distributed.</span></li>
              <li><strong>Control Systems:  </strong>&nbsp;<span>Designing and analysing systems that automate machines and processes.</span></li>
            </ul>
         
      </div>
 
  </mat-card-content>
</mat-card>

  
